@model IEnumerable<Foras_Khadra.Models.TeamMember>
@using Foras_Khadra.Helpers
@using Microsoft.AspNetCore.Localization;
@using Microsoft.Extensions.Options;
@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_Layout";
    var isFirstGroup = true;
    var culture = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var dir = culture == "ar" ? "rtl" : "ltr";
    ViewData["Title"] = Localizer["AboutUsTitle"];

}


<link href="~/css/Home.css" rel="stylesheet" />

<!-- ===== HERO ===== -->
<section class="about-hero">
    <div class="about-overlay">
        <h1>@Localizer["AboutUsTitle"]</h1>

        <p>
            @Localizer["AboutUsDesc"]
        </p>
    </div>
</section>

<!-- ===== VISION & GOALS ===== -->
<section class="vision-goals">

        <!-- الرؤية -->
        <div class="vg-box vision">
            <div class="vg-title">
                <img src="~/images/about_us_leaf.svg" />
            <h3>@Localizer["VisionTitle"]</h3>
            </div>

            <p>
            @Localizer["SubVision"]
            </p>
        </div>

        <!-- الأهداف -->
    <div class="vg-box goals">
        <div class="vg-title">
                <img src="~/images/about_us_leaf.svg" />
            <h3>@Localizer["GoalsTitle"]</h3>
            </div>

            <p>
            @Localizer["SubGoals"]
            </p>
        </div>

</section>

<!-- ===== TEAMS ===== -->
<section class="teams-section">

    @foreach (var group in Model.GroupBy(m => m.Department))
    {
        <div class="team-block">

            <div class="team-grid">

                <div class="group-card">

                    <h2 class="team-title"> @DepartmentTranslator.TranslateName(group.Key, culture)</h2>


                    <div class="group-bio">
                        @{
                            var desc = DepartmentTranslator.TranslateDesc(group.Key, culture);

                            var firstSentence = desc.Contains(".") ? desc.Split('.')[0] + "." : desc;
                            var rest = desc.Contains(".") ? desc.Substring(firstSentence.Length) : "";
                        }

                        <p>
                            <strong>@firstSentence</strong>@rest
                        </p>

                    </div>
                </div>
                @foreach (var member in group.OrderByDescending(m => m.Membership))
                {
                    <div class="team-card">

                        @if (!string.IsNullOrEmpty(member.ImagePath))
                        {
                            <img src="@member.ImagePath" alt="@member.NameAr" class="member-img" />
                        }

                        <div class="team-card-footer" onclick="toggleBio(@member.Id)">
                            <div class="footer-title">
                                <img src="~/images/team_leaf.svg" alt="Alternate Text" class="footer-leaf" />
                            <h4>
                                @(culture == "ar" ? member.NameAr :
                                                            culture == "fr" ? member.NameFr :
                                                            member.NameEn)
                        </h4>
                            </div>

                            <span class="role">
                                @MembershipTranslator.Translate(member.Membership, member.Gender, System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName)
                            </span>
                        </div>

                        <div id="bio-@member.Id" class="bio" style="background-image:url(@member.ImagePath)">
                            <div class="bio-overlay">
                                @Html.Raw(
                                                culture == "ar" ? member.BioAr :
                                                culture == "fr" ? member.BioFr :
                                                member.BioEn
                                                )
                    </div>

                        </div>
                    </div>
                }
                
            </div>
        </div>
    }
</section>

<script>
    function toggleBio(id) {
        document.getElementById("bio-" + id)
            .classList.toggle("open");
    }
</script>
</html>