@model Foras_Khadra.Models.TeamMember

<h2>تفاصيل العضو</h2>

<div>
    <img src="@Model.ImagePath" width="150" />
</div>
<p><strong>الاسم الكامل:</strong> @Model.FullName</p>
<p><strong>الدور:</strong> @Model.Role</p>
<p><strong>القسم:</strong> @Model.Department</p>
<p><strong>السيرة الذاتية:</strong> @Model.Bio</p>

<a asp-action="Index" class="btn btn-primary">عودة</a>
